.text h2{
  color: #FF99CC;

}
.name{
font-size: 20px;
color:#FFFFFF;
font-family: 'Playfair Display', serif;
text-align: center;
background-image: url("../images/11111.jpg");
width: 100%;
height: 100%;

}
.nav-right {
  float: right;
}
