
.name{
font-size: 20px;
color:#FFFFFF;
font-family: 'Playfair Display', serif;
text-align: center;
background-image: url("../images/11111.jpg");
width: 100%;
height: 100%;

}
.head h2{

  color: #FF99CC;
}
.nav-right {
  float: right;
}

.photography a{
  color: #FF99CC;
}

.profile a{
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  color:#FFE4E1;
}



.contact a{
color: #FF99CC;
}

.video2 h2{
  font-size: 16px;
  color: #FF99CC;
}
